<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<h1>个人信息</h1>
<div align="center" class="user-div">
    <form method="post" action="/update">
        <div class="user-sub-div">
            <span class="user-span-left"><lable for="avatar">头像：</lable></span>
            <span class="user-span-right"><img class="" th:src="${session.user.avatarUrl}"></span>
        </div>
        <div class="user-sub-div">
            <span class="user-span-left"><lable for="username">用户名：</lable></span>
            <span class="user-span"><input type="text" th:value="${session.user.name}" name="username" id="username" readonly="true"
                         style="background:#CCCCCC"></span>
        </div>
        <div class="user-sub-div">
            <span class="user-span-left"><lable for="userId">用户id：</lable></span>
            <span class="user-span"><input type="text" name="userId" th:value="${session.user.id}" id="userId" readonly="true"
                         style="background:#CCCCCC"></span>
        </div>
        <div class="user-sub-div">
            <span class="user-span-left"><lable for="telephone">电话：</lable></span>
            <span class="user-span"><input type="text" name="telephone" th:value="${session.user.telephone}" id="telephone"></span>
        </div>
        <div class="user-sub-div">
            <span><input type="submit" value="提交"></span>
            <span><input type="reset" value="清空"></span>
        </div>
    </form>
</div>
</body>
</html>